h1 {
  text-decoration: underline;
}

#ar-button{
  width: 120px;
  height:60px;
  position:absolute;
  right:35px;
  bottom: 35px;
  background-color:black;
  color:white;
  border:none;
  font-size:20px;
}

.thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: dimgrey;
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 10px;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.38);
  border-radius: 20px;
  box-sizing: border-box;
}
.thumbnail-link {
  margin: 25px;
  text-decoration: none;
}
.thumbnail-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  background-color: none;
}
            
.thumbnail-link {
  display: block;
  text-align: center;
  font-family: sans-serif;
  color: black;
}
            
a {
  text-align:center;
}
